#createPostContainer{
    height: 100vh;
    position: relative;
    right: 7px;
}
#createContent{
    width: 40vw;
    height: 50vh;
    position: relative;
    top: 10vh;
    left: 10vw;
}

#createPostForm{
    background-color: #DCC48E;
    width: 32vw;
    height: 80%;
    position: relative;
    left: 4vw;
    top: 4vh;
}

#createPostForm h3{
    margin-bottom: 2vw;
}
#createPostForm h4{
    margin-top: 2vw;
    margin-bottom: -3vh;
}

#createPostForm button{
    margin-top: 4vw;
    margin-left: 3vw;
}

#followPostRadio{
    display: inline-flex;
}
#followPostRadio h6{
    margin-left: 2vw;
}

h1{
    text-align: center;
}