.navBtn{
    margin-top:4vh;
    position: relative;
    left: 1vw;
}

#userAvatar{
    scale: 2;
    margin: 3vh;
    background-color: orange;
    position: relative;
    left: 5.5vw;
}

#userName{
    margin-bottom: 5px;
    position: relative;
    left: 4vw;
}

#logout{
    position: relative;
    left: 1vw;
}