.responseContainer{
    border: 1px solid black;
    width: 50vw;
    height: fit-content;
    margin-left: 1.5vw;
}

h5{
    position: relative;
    top: -.25vh;
}

.responseList{
    margin: 0;
    list-style-type: none;
    height: 21vh;
    overflow-y: scroll;
    position: relative;
    top: 1vh;
}

.actionBtns{
    position: relative;
    width: fit-content;
    border: 1px solid black;
}