.updateResponse{
    background-color: white;
    width: 40vw;
    scale: 1.2;
    z-index: 100;
    position: relative;
    top: .7vh;
    left: 5.23vw;
}

.updateBody{
    width: 75%;
}

.submitUpdateForm{
    position: relative;
    left: 1.5vw;
}
