.updateResponse{
    background-color: white;
    width: 40vw;
    height: 7vh;
    scale: 1.2;
    z-index: 100;
    position: relative;
    top: .8vh;
    left: 5.23vw;
}

.updateBody{
    width: 75%;
}

.submitUpdateForm{
    position: relative;
    left: 1.5vw;
}

.cancelBtn{
    position: relative;
    left: 31.5vw;
    bottom: 3vh;
}