.updateResponse{
    background-color: white;
    width: 40vw;
    scale: 1.19;
    z-index: 100;
    position: absolute;
    top: .6vh;
    left: 8.65vw;
}

.updateBody{
    width: 75%;
}

.submitUpdateForm{
    position: relative;
    left: 1.5vw;
}
